.profile__edit-button {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 7px;
    padding: 0;
    background-image: url(/images/Edit-Button.svg);
    background-color: black;
    border: none;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 767px) {
    .profile__edit-button {
        border: 1px solid #FFFFFF;
        width: 18px;
        height: 18px;
        margin: 0;
    } 
}