.popup__button-close {
    background-image: url(../../../images/Close-Icon.svg);
    background-color: black;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    z-index: 3;
    margin: 0;
    padding: 0;
}

.popup__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 767px) {
    .popup__button-close {
        background-size: contain;
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}