.profile__add-button-img_small {
    display: none;
}

@media (max-width: 767px) {
    .profile__add-button-img_small {
        display: block;
    }
    .profile__add-button-img_small:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}

