.profile__add-button {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: black;
    background-image: url(../../../images/Add-Button.svg);
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 767px) {
    .profile__add-button {
    max-width: 282px;
    margin-top: 36px;
    width: 100%;
    }
}