.profile__info {
    max-width: 336px;
    display: grid;
    grid-template-columns: auto 24px;
    align-items: center;
    grid-row-gap: 6px;
}

@media (max-width: 767px) {
    .profile__info {
        padding-top: 26px;
        grid-template-columns: auto 18px;
        max-width: 282px;
        grid-column-gap: 10px;
    } 
}