.profile__info {
    min-width: 336px;
    min-height: 73px;
    padding-left: 30px;
}

@media (max-width: 767px) {
    .profile__info {
        padding: 0;
        min-width: 282px;
        width: 100%;
        min-height: 54px;
        height: 100%;
        margin: 26px auto 36px;
    }
     
}